body {
	background-image: url(../images/wallpaper_login.jpg);
    background-position: initial;
    background-size: 100%;
    background-repeat: no-repeat;
}
form {
	box-shadow: 2px 5px 13px 7px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30px;
    background-color: #fff;
}